<table>
  <tr>
    <th>City</th>
    <th> Country</th>
    <th>Temperature</th>
  </tr>
  <tr *ngFor="let city of cities; let i = index">
    <a class="city" (click)="showCityDetails(city)">
      <td>{{city.name}}</td>
    </a>
    <div class="none" id='details' *ngIf="clickedCity[i]">
      <p> <strong>Latitude:</strong>{{city?.coord.lat}}, <strong>Longitude:</strong>{{city?.coord.lon}},
        <strong>Weather:</strong>{{city.weather[0]?.description}}
        <strong>Timezone:</strong>{{city?.timezone | timezone}}
      </p>
    </div>
    <td *ngIf="!clickedCity[i]">{{city.sys?.country | country }}</td>
    <td *ngIf="!clickedCity[i]">{{ (city.main?.temp | temp)}}</td>
  </tr>

</table>


<p class="hint">*Insert city name.</p>

<form #cityForm='ngForm'>

  <es-form-field>
    <es-lookup
      [lazyLoad]='true'
      [displayField]='field'
      name='city'
      [query]="onCityQuery"
      [placeholder]="'City name:'"
      [(ngModel)]='cityData'
      valueField="id"
      > </es-lookup>
  </es-form-field>

  <es-button [text]='text' (clicked)='onSave()'> </es-button>

</form>




<!-- Template driven  -->
<!--<form (ngSubmit)="onSubmit()" #newCityForm = 'ngForm' >
   <label> Coords </label> <br>
  <input placeholder="Insert latitude:" type="number" class="coords" name="latitude" [(ngModel)]="latitude" ><br>
  <input placeholder="Insert longitude:" type="number" class="coords" name="longitude" [(ngModel)]="longitude"><br>
  <label>City ID</label><br>
  <input placeholder="Insert id:" type="number" class="cityId" name="id" required [(ngModel)]="id"><br>
  <label>Name</label><br>
  <input placeholder="Insert city name:" type="text" class="name" name="name" [(ngModel)]="name"><br>
  <label>Country</label><br>
  <input placeholder="Insert Country" type="text" class="country" name="country" [(ngModel)]="country"><br>
  <label>Temperature</label><br>
  <input placeholder="Insert Temperature" type="number" class="temp" name="temperature" [(ngModel)]="temperature"><br>
  <label>Weather</label><br>
  <input placeholder="Insert Weather" type="text" name="weather" [(ngModel)]="weather"><br>
  <label>Timezone</label><br>
  <input placeholder="Insert Timezone" type="number" name="timezone" [(ngModel)]="timezone"><br>

  <input type="submit" value="Submit" class="submit" >

</form> -->

<!-- <form  [formGroup]="newCityForm" (submit)="onAddPost()" >
  <label> Coords </label> <br>
  <input placeholder="Insert latitude:" type="number" class="coords" formControlName="latitude" ><br>
  <input placeholder="Insert longitude:" type="number" class="coords" formControlName="longitude"><br>
  <label>Name</label><br>
  <input placeholder="Insert city name:" type="text" class="name" formControlName="name"><br>
  <label>Country</label><br>
  <input placeholder="Insert Country" type="text" class="country" formControlName="country" [defaultValue]=""><br>
  <label>Temperature</label><br>
  <input placeholder="Insert Temperature" type="number" class="temp" formControlName="temperature" [defaultValue]=0 ><br>
  <label>Weather</label><br>
  <input placeholder="Insert Weather" type="text"  formControlName="weather" [defaultValue]=""><br>
  <label>Timezone</label><br>
  <input placeholder="Insert Timezone" type="number"  formControlName="timezone" [defaultValue]=0 ><br>


  <input type="submit" value="Submit" class="submit">


</form> -->
