// font
$font-primary: 'Open Sans', sans-serif;

// colors
$brand-primary: #4A9CE9 !default;
$brand-primary2: #4694DD !default;
$brand-primary3: #1A83D3 !default;
$brand-primary4: #2C99ED !default;

$primary-color: #007F87 !default;
$secondary-color: #66BC48 !default;
$gray-color: #DEDEDE !default;
$body-color: #F6F8FA !default;
$border-color: #F2F8F1 !default;
$dark-gray-color: #6B6969 !default;
$subtitle-color: #98AAB8 !default;
$text-dark: #3E3E3E !default;
$text-light: #8D8D8D !default;
$form-label: #86939E !default;
$accordion-border: #E5EAE5 !default;
$pointer: #F0F0F0 !default;

$title-color: #6A6C6F !default;
$list-color: #98A6AD !default;
$input-color: #666A73 !default;
$disabled-color: #707B84 !default;
$text-white: #FFFFFF !default;
$dark-gray: #424753 !default;
$light-gray: #E9E9E9 !default;
$light-gray2: #DFE1E5 !default;
$black: #000000 !default;
$hover-color: #F2F5F6 !default;
$item-border-color: #CFDADD !default;

$nav-active: #FFE132 !default;
$light-border: #EEEEEE !default;
$dark-border: #DFE4E8 !default;
$box-shadow: #A2A3A3 !default;
$box-shadow-accordion: #EEF1F3 !default;
$box-shadow-card: #EDF0F1 !default;
$border-light: #E1E1E1 !default;
$nav-item: #77838D !default;
$logo-bg: #20AF60 !default;
$box-shadow-menu: #CFCFCF !default;
$card-footer: #FDFDFD !default;

$chart-primary: #62A8EA !default;
$chart-primary2: #FF9B1D !default;
$chart-primary3: #6CC788 !default;
$chart-primary4: #FF365E !default;

// status colors
$color-success: #12CE66 !default;
$color-error: #FF0242 !default;
$color-warning: #FF9B1D !default;
$color-info: #48ABF7 !default;

// Analytics Modal
$payment-card: #1DAE99;
$pin-size: 20px;

// media points
$point_1: 1200px !default;
$point_2: 960px !default;
$point_3: 600px !default;
$point_4: 480px !default;
$small_mobile_display: 320px !default;
$wxga_plus_display: 1440px !default;
$wxga_display: 1366px !default;
$sxga_display: 1280px !default;
$xga_display: 1024px !default;
$hd_plus_display: 1600px !default;
$point_2a: 880px !default;
$point_2b: 720px !default;
$point_2c: 620px !default;

// Input height
$input_height: 40px !default;
