@import "../scss/helpers/helpers_all";

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;

  > .row {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 3rem;
  }
}

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

.inner-row {
  @extend .row;
  margin-left: -16px;
  margin-right: -16px;
}

.col-2 {
  float: left;
  width: calc(100% * 0.166666 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.quarter,
.col-3 {
  float: left;
  width: calc(100% * 0.25 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.third,
.col-4 {
  float: left;
  width: calc(100% * 0.333333 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.col-5 {
  float: left;
  width: calc(100% * 0.416666 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.half,
.col-6 {
  float: left;
  width: calc(100% * 0.5 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.col-7 {
  float: left;
  width: calc(100% * 0.583333 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.col-8 {
  float: left;
  width: calc(100% * 0.666666 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.col-9 {
  float: left;
  width: calc(100% * 0.75 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.col-10 {
  float: left;
  width: calc(100% * 0.833333 - 32px);
  margin-left: 16px;
  margin-right: 16px;

  @include bp($point_2) {
    width: calc(100% * 1 - 32px);
  }
}

.full,
.col-12 {
  float: left;
  width: calc(100% * 1 - 32px);
  margin-left: 16px;
  margin-right: 16px;
}

.padded {
  padding: 2rem 0 4rem;
}
