html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

a img,
:link img,
:visited img {
  border: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

:focus {
  outline: 0;
}

input[type=text],
input[type=password],
input[type=submit],
input[type=button],
input[type=number],
textarea,
button,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
}

header, aside, main {
  display: block;
}

select::-ms-expand {
  display: none;
}
