// class="tooltip-right" data-tooltip="Add new organization"

[class*="tooltip-"] {
  position: relative;
  display: inline-block;
}

[class*="tooltip-"]:before, [class*="tooltip-"]:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms;
}

[class*="tooltip-"]:hover:before, [class*="tooltip-"]:hover:after {
  visibility: visible;
  opacity: 1;
}

[class*="tooltip-"]:hover:before, [class*="tooltip-"]:hover:after {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}

[class*="tooltip-"]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}

[class*="tooltip-"]:after {
  background: #383838;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  white-space: nowrap;
}

[class*="tooltip-"][aria-label]:after {
  content: attr(aria-label);
}

[class*="tooltip-"][data-tooltip]:after {
  content: attr(data-tooltip);
}

[aria-label='']:before, [aria-label='']:after,
[data-tooltip='']:before,
[data-tooltip='']:after {
  display: none !important;
}

/**
 * Classes added:
 * 	1) tooltip-top
 * 	2) tooltip-bottom
 * 	3) tooltip-left
 * 	4) tooltip-right
/**
 * set default color for tooltip arrows
 */
.tooltip-top-left:before {
  border-top-color: #383838;
}

.tooltip-top-right:before {
  border-top-color: #383838;
}

.tooltip-top:before {
  border-top-color: #383838;
}

.tooltip-bottom-left:before {
  border-bottom-color: #383838;
}

.tooltip-bottom-right:before {
  border-bottom-color: #383838;
}

.tooltip-bottom:before {
  border-bottom-color: #383838;
}

.tooltip-left:before {
  border-left-color: #383838;
}

.tooltip-right:before {
  border-right-color: #383838;
}

/**
 * top tooltip
 */
.tooltip-top:before {
  margin-bottom: -11px;
}

.tooltip-top:before, .tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

.tooltip-top:before {
  left: calc(50% - 6px);
}

.tooltip-top:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip-top:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}

.tooltip-top:hover:after {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -moz-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px);
}

/**
 * bottom tooltip
 */
.tooltip-bottom:before {
  margin-top: -11px;
}

.tooltip-bottom:before, .tooltip-bottom:after {
  top: 100%;
  left: 50%;
}

.tooltip-bottom:before {
  left: calc(50% - 6px);
}

.tooltip-bottom:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip-bottom:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}

.tooltip-bottom:hover:after {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

/**
 * right tooltip
 */
.tooltip-right:before {
  margin-left: -11px;
  margin-bottom: -6px;
}

.tooltip-right:after {
  margin-bottom: -14px;
}

.tooltip-right:before, .tooltip-right:after {
  left: 100%;
  bottom: 50%;
}

.tooltip-right:hover:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}

.tooltip-right:hover:after {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}

/**
 * left tooltip
 */
.tooltip-left:before {
  margin-right: -11px;
  margin-bottom: -6px;
}

.tooltip-left:after {
  margin-bottom: -14px;
}

.tooltip-left:before, .tooltip-left:after {
  right: 100%;
  bottom: 50%;
}

.tooltip-left:hover:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}

.tooltip-left:hover:after {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}

/**
 * source: tooltipsizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 * 	1) tooltip-small
 * 	2) tooltip-medium
 * 	3) tooltip-large
 *
 */
.tooltip-small:after,
.tooltip-medium:after,
.tooltip-large:after {
  white-space: normal;
  line-height: 1.4em;
  word-wrap: break-word;
}

.tooltip-small:after {
  width: 80px;
}

.tooltip-medium:after {
  width: 150px;
}

.tooltip-large:after {
  width: 300px;
}

/**
 *
 * Defines basic theme for tooltips.
 *
 */
[class*="tooltip-"] {
  /**
   * tooltip body
   */
}

[class*="tooltip-"]:after {
  text-shadow: 0 -1px 0px black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.tooltip-info {
  height: 15px;
  opacity: 0.4;
  margin-left: 4px;
}
