@import "field";
@import "../../scss/helpers/helpers_all";

.dropdown {
  padding: 4px 10px;
  cursor: pointer;
  color: $input-color;

  div {
    display: inline-block;
  }
}

.text {
  min-width: 100px;
  font-size: 1.4rem;
  width: 100%;
}

.arrow-down {
  position: absolute;
  right: 12px;
  top: 44%;
  @include size(0, 0);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4D5059;
}

.dropdown.compact {
  .arrow-down, .pseudo-icon-clear {
    right: 5px;
  }
}
