@import "../../scss/helpers/helpers_all";

.table-scroller {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;

  .fixed-table-header {
    position: fixed !important;
    top: 70px;
    background: $text-white;
    z-index: 3;

    @include bp($point_1) {
      top: 70px;
    }
  }

  .btn-scroll {
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    background-color: rgba($text-white, .7);
    color: $primary-color;
    border-radius: 50%;
    box-shadow: 1px 1px 11px rgba($box-shadow, .65);
    cursor: pointer;
    z-index: 4;
    position: fixed;
    transform: translate(0, -50%);

    &.btn-scroll-left {
      top: 50%;
      margin-left: 30px;
    }

    &.btn-scroll-right {
      top: 50%;
      right: 0;
      margin-right: 35px;
    }
  }

  &.fixed-columns {
    border-collapse: separate;
  }
}

.table-fixed {
  position: relative;
  overflow: unset;

  +.data-table-footer {
    margin-top: 36px;
  }

  table {
    min-width: unset;

    td,
    th {
      width: 100vw;
      transition: all .3s ease-in-out;
      padding: 6px 12px;

      &.fixed-column {
        position: -webkit-sticky;
        position: sticky;
        z-index: 2;
        left: 0;
        overflow: hidden;
        top: auto;
        background: $text-white;
        box-shadow: 2px 0 7px -6px $box-shadow;
      }

      div {
        white-space: nowrap;
      }
    }

    thead {
      position: absolute;
      overflow-x: hidden;
      max-width: 100%;
    }

    tbody {
      display: block;
      width: 100%;
      overflow-x: scroll;
      margin-top: 45px;

      tr {
        &.predicted {
          background: rgba($secondary-color, .19);
          border-top: 3px solid $text-white;

          &:first-child {
            border: none;
          }
        }
      }
    }
  }
}

th {
  font-size: 1.3rem;
  border: none;
  position: relative;
  user-select: none;

  &.sortable {
    cursor: pointer;
  }

  &.selected {
    .text {
      font-weight: 700;
      color: $primary-color;
    }
  }

  .text,
  .sort {
    display: inline-block;
    user-select: none;
  }

  .text {
    width: 100%;
    height: 100%;
    font-weight: 500;
    user-select: none !important;
    color: $form-label;

    .tooltip {
      position: absolute;
      font-weight: 400;
      text-transform: none;
      font-size: 14px;
      line-height: 43px;
      white-space: normal;
      letter-spacing: normal;
      top: 0;

      @include bp($point_2) {
        display: none;
      }
    }
  }

  .sort {
    width: 10px;
    height: 100%;
    position: absolute;
    right: 4px;
    top: 0;
  }

  .sort.arrow-down {
    background: url('../../assets/img/tick-down.svg') no-repeat 50% 50%;
  }

  .sort.arrow-up {
    background: url('../../assets/img/tick-up.svg') no-repeat 50% 50%;
  }
}

td {
  .clickable {
    color: $primary-color;
    cursor: pointer;

    &:hover {
      color: $title-color;
    }
  }
}

.info {
  font-weight: 600;
  font-size: 20px;

  td {
    text-align: center;
  }
}

.compare {
  &:nth-child(odd) {
    td {
      border-top: 2px solid #DADEE0;
      color: darken($chart-primary, 5%);
    }
  }

  &:nth-child(even) {
    td {
      color: darken($chart-primary2, 5%);
    }
  }
}

.data-table-footer {
  position: relative;
  width: 100%;

  .page-size-select {
    display: inline;
    position: absolute;
    top: 0px;
    right: 360px;
    min-width: 180px;

    @include bp($point_2) {
      display: block;
      position: static;
      text-align: center;
      right: 0;

      .page-size-label {
        display: block;
      }
    }

    .page-size-label {
      margin-right: 8px;
    }

    .page-size-selector {
      max-width: 100px;
    }
  }
}

.status-label {
  color: $text-white;
  border-radius: 2px;
  margin-left: 2px;
  padding: 0 2px;

  &.active {
    background-color: $color-success;
  }

  &.inactive {
    background-color: $color-warning;
  }
}
